.slick-slider{
    position: relative;
    button.slick-prev {
        background: black;
        position: absolute;
        left: 0 ;
        z-index: 999;
    }

    button.slick-next {
        background: black;
        position: absolute;
        right: 0 ;
        z-index: 999;
    }
    
    img { 
        height: 400px;
    }
}